<nav>
    <a [routerLink]="['/']"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Index
    </a>
    <a has-permission="ViewCartable" [routerLink]="['/cartable']"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        کارتابل
    </a>
    <a [routerLink]="['/ticket']"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        ثبت تیکت
    </a>
    <a [routerLink]="['/assignPermission']"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        مجوز به کاربران
    </a>


    <!--<a [routerLink]=" ['./about'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        About
    </a>-->
</nav>
