<div>
    <nav>
        <ticketing-nav></ticketing-nav>
    </nav>

    <div id="ticketgrid">
        <table class="table table-bordered">
            <ng-container *ngFor="let item of getTicketDto; let i = index;">
                <tr >
                    <td>{{i}}</td>
                    <td>{{item.Id}}</td>
                    <td>{{item.Comment}}</td>
                    <td>{{item.DateTime}}</td>
                    <td>{{item.TicketState}}</td>
                    <td>{{item.TicketPriority}}</td>
                    <td>
                        <a [routerLink]="['/ViewTicketComments',item.Id]"
                           routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            View Comments
                        </a>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    Select Department:
    <select [(ngModel)]="ticket.DepartmentId" name="DepartmentId">
        <option value="0">--Select--</option>
        <option *ngFor="let item of departments" [value]="item.Id">
            {{item.Name}}
        </option>
    </select>

    <br/>

    Select Ticket Priority:
    <select [(ngModel)]="ticket.TicketPriority" name="TicketPriority">
        <option value="0">--Select--</option>
        <option *ngFor="let item of ticketPriority" [value]="item.Value">
            {{item.Name}}
        </option>
    </select>

    <br/>

    Enter Your TicketComment:
    <input type="text" placeholder="Ticket Comment" [(ngModel)]="ticket.Comment" name="Comment"/>

    <br/>

    Enter TicketAttachment:
    <!--<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">-->
    <fileupload name="fileUploader" (onUploadUri)="getFileName($event)"></fileupload>
    <br/>

    <input type="button" (click)="registerTicket()" name="registerTicket" value="Save"/>

</div>